/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

$primary-color: #1abc9c;
$primary-color-light: #a1cb00;
$primary-color-dark: #333333;

body {
    background-color: $primary-color-dark;
    color: $primary-color-light;
}