@import "../../styles.scss";

nav {
    //background-color: $primary-color-dark;
    background: linear-gradient(to bottom right, $primary-color-dark, $primary-color);
}

.navbar-light .navbar-nav .nav-link {
    color: $primary-color-light;
    font-family: 'Comfortaa', cursive;
}

.btn-outline-success {
    color: $primary-color-light;
    border-color: $primary-color-light;
    border-width: 2px;
    font-weight: bold;

    &:hover{
        background-color: $primary-color-light;
        color: $primary-color-dark;
    }
}